.button {
    font-size: 16px;
    color: var(--color-white);
    border-radius: 30px;
    padding: 12px 36px;
    max-width: max-content;
    font-weight: 500;
    transition: all 0.5s ease;
    background: var(--color-actient);

    &-wrap {
        overflow: hidden;
        max-height: 100%;
        display: flex;

        .button-animate {
            display: flex;
            flex-direction: column;
            transition: all 0.5s ease;
            span{
                transition: all 0.5s ease;
            }
        }
    }

    &:hover {
        .button-animate {
            transform: translateY(-100%);
        }
    }
}

.button-black {
    &:hover{
        background: var(--color-primary);
    }
}
.button-white {
    background: var(--color-white);
    color: var(--color-actient);
    border: 1px solid transparent;
    &:hover{
        background: transparent;
        border-color:var(--color-white);
        color: var(--color-white);
    }
}