:root {
    --color-white: #fff;
    --color-primary: #101828;
    --color-primary-textnav: #364153;
    --color-primary-textsub: #6a7282;
    --color-primary-textbody: #667085;
    --color-primary-linear: linear-gradient(.333333turn, #f9643f 16%, #ff803e 100%);
    --color-actient: #f9643f;
    --color-pale: #fff0eb;
    --color-whatsapp: #25d366;
    --color-border: #f3f4f6;
    --color-bglight: #f9fafb;
    --color-bggray: #f6f7f8;
    --color-socialbg: #f2f4f7;
    --color-bread: #bbb;
    --color-bread-span: #888;
    --color-black: #333333;
    --color-full: #000;
}