.default-modal {
    position: absolute;
    top: 120%;
    left: 10%;
    background: var(--color-white);
    border: 1px solid var(--color-border);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    z-index: 10;

    a {
        padding: 8px 14px;
        border-radius: 6px;
        transition: all 0.3s ease;
        color: var(--color-primary-textnav);

        &:hover {
            color: var(--color-actient);
            background: var(--color-bglight);
            font-weight: 700;
        }
    }
}

.nav-modal {
    position: absolute;
    top: 120%;
    left: 0%;
    background: var(--color-white);
    border: 1px solid var(--color-border);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px 20px;
    z-index: 10;
    min-width: 480px;

    a {
        padding: 8px 14px;
        border-radius: 6px;
        transition: all 0.3s ease;
        color: var(--color-primary-textnav);
        white-space: nowrap;

        &.actient {
            color: var(--color-actient);
        }

        &:hover {
            color: var(--color-actient);
            background: var(--color-bglight);
        }
    }
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    transition: all 0.3s ease;

    &:hover {
        opacity: .9;
    }
    svg{
        width: 41px;
        height: 39px;
    }
    &-wrap {
        span {
            font-size: 18px;
            font-weight: 700;
            color: var(--color-primary-textnav);
            line-height: 140%;
        }

        p {
            font-size: 12px;
            line-height: 100%;
            color: var(--color-primary-textsub);
            font-weight: 400;
        }
    }
}