.footer {
    width: 100%;
    padding: 60px 0 30px;
    border-top: 1px solid var(--color-border);

    &__body {
        display: flex;
        flex-direction: column;
        gap: 60px;
        &-main {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .action {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .social {
                    display: flex;
                    gap: 12px;

                    a {
                        background: var(--color-pale);
                        width: 40px;
                        aspect-ratio: 1/1;
                        border-radius: 8px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: all 0.5s ease;

                        &:hover {
                            background: var(--color-actient);

                            svg {
                                color: var(--color-white);
                            }
                        }

                        svg {
                            width: 24px;
                            height: 24px;
                            color: var(--color-primary-textbody);
                            transition: all 0.5s ease;
                        }
                    }
                }
            }

            nav {
                width: 60%;
                display: flex;
                justify-content: space-between;

                span {
                    font-size: 16px;
                    font-weight: 700;
                    color: var(--color-primary-textnav);
                }

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        color: var(--color-primary-textbody);
                        font-weight: 400;
                        line-height: 110%;

                        li {
                            position: relative;
                            transition: all 0.3s ease;
                            max-width: max-content;

                            &:hover {
                                color: var(--color-actient);

                                &::after {
                                    width: 100%;
                                }
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                left: 0;
                                z-index: 0;
                                width: 0;
                                height: 2px;
                                background: var(--color-actient);
                                top: 110%;
                                transition: all 0.3s ease;
                            }
                        }
                    }
                }
            }
        }

        &-contact {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;
            padding-top: 40px;
            border-top: 1px solid var(--color-border);
            a {
                padding: 24px;
                display: flex;
                gap: 16px;
                border-radius: 16px;
                border: 1px solid var(--color-border);
                &:hover{
                    span{
                        color: var(--color-actient);
                    }
                }
                .icon{
                    width: 48px;
                    aspect-ratio: 1/1;
                    max-height: max-content;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: var(--color-pale);
                    border-radius: 12px;
                    svg{
                        color: var(--color-actient);
                        width: 20px;
                        height: 20px;
                    }
                }
                .contact-wrap{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    span{
                        transition: all 0.3s ease;
                    }
                }
            }
        }
        &-soft{
            padding-top: 30px;
            border-top: 1px solid var(--color-border);
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .soft-rights{
                display: flex;
                align-items: center;
                gap: 24px;
                span{
                    color: var(--color-primary-textnav);
                }
                a{
                    transition: all 0.3s ease;
                    color: var(--color-primary-textbody);
                    &:hover{
                        color: var(--color-actient);
                    }
                }
            }
            .text-base{
                span{
                    color: var(--color-primary-textnav);
                    font-weight: 600;
                }
            }
        }
    }
}