.footer {
    width: 100%;
    margin-top: 100px;

    &__body {
        display: flex;
        justify-content: space-between;

        &-logo {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .logo {
                display: flex;
                align-items: center;
                gap: 6px;

                img {
                    width: 55px;
                    height: 52px;
                    object-fit: cover;
                }

                span {
                    font-size: 28px;
                    font-weight: 600;
                    line-height: 100%;
                    color: var(--black);
                }
            }

            p {
                font-size: 11px;
                line-height: 120%;
                color: var(--black);
            }
        }

        &-menu {
            display: flex;
            flex-wrap: wrap;
            column-gap: 128px;
            row-gap: 64px;
            max-width: 50%;

            &-item {
                display: flex;
                flex-direction: column;
                gap: 16px;

                span {
                    font-size: 14px;
                    color: var(--black);
                    opacity: .55;
                    line-height: 120%;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    li {
                        font-size: 18px;
                        line-height: 100%;
                        color: var(--black);
                        transition: all 0.3s ease;
                        position: relative;
                        max-width: max-content;
                        &::before{
                            content: '';
                            position: absolute;
                            top: 120%;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 0px;
                            height: 2px;
                            background: var(--orange);
                            transition: all 0.4s ease;
                        }
                        &:hover {
                            &::before{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        &-soft {
            display: flex;
            flex-direction: column;
            gap: 64px;
            align-items: flex-end;

            .phone {
                display: flex;
                align-items: center;
                gap: 6px;
                font-size: 18px;
                font-weight: 600;
                line-height: 140%;

                img {
                    width: 16px;
                    height: 16px;
                }
            }
            &-information{
                display: flex;
                flex-direction: column;
                gap: 24px;
                align-items: flex-end;
                p{
                    font-size: 13px;
                    color: #858585;
                    font-weight: 400;
                    line-height: 140%;
                    text-align: end;
                }
                .address{
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    align-items: flex-end;
                    span{
                        font-size: 13px;
                        color: #858585;
                        line-height: 100%;
                        font-weight: 400;
                    }
                    p{
                        text-align: end;
                        font-size: 13px;
                        color: var(--black);
                        line-height: 140%;
                    }
                }
                a{
                    color: #858585;
                    font-size: 14px;
                    line-height: 100%;
                    font-weight: 400;
                }
            }
        }
    }
}