.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: var(--color-white);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
    transition: all 0.5s ease;
    &.back{
        transform: translateY(-100%);
    }
    &__body {
        display: flex;
        flex-direction: column;

        &-top {
            padding: 6px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            border-bottom: 1px solid var(--color-border);


            .action {
                display: flex;
                align-items: center;
                gap: 16px;
                
                .phone {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    color: var(--color-primary-textnav);
                    transition: all 0.3s ease;
                    &:hover{
                        color: var(--color-actient);
                    }
                    svg {
                        width: 14px;
                        height: 14px;
                        path {
                            stroke: none;
                            fill: var(--color-actient);
                        }
                    }
                }
                &-whatsapp{
                    padding: 10px 18px;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    color: var(--color-white);
                    background: var(--color-whatsapp);
                    transition: all 0.3s ease;
                    border-radius: 50px;
                    &:hover{
                        opacity: .9;
                    }
                    svg{
                        width: 14px;
                        height: 14px;
                    }
                }
                .switcher{
                    position: relative;
                    &__main{
                        padding: 8px 16px;
                        display: flex;
                        align-items: center;
                        gap: 6px;
                        background: var(--color-bglight);
                        border-radius: 50px;
                        color: var(--color-primary-textnav);
                        cursor: pointer;
                        svg{
                            width: 14px;
                            height: 14px;
                            transition: all 0.3s ease;
                            &.opened{
                                rotate: 180deg;
                            }
                        }
                    }
                }
            }
        }
        &-nav{
            width: 100%;
            padding: 4px 0;
            ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                li{
                    position: relative;
                    padding: 6px 10px;
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    font-weight: 500;
                    color: var(--color-primary-textnav);
                    transition: all 0.3s ease;
                    border-radius: 5px;
                    cursor: pointer;
                    &:hover{
                        background: var(--color-pale);
                        color: var(--color-actient);
                    }
                    svg{
                        width: 14px;
                        height: 14px;
                        transition: all 0.5s ease;
                        &.rotate-180{
                            rotate: 180deg;
                        }
                    }
                    .default-modal{
                        padding: 20px;
                        left: 0;
                        a{
                            font-weight: 600;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
}