.main{
    margin-top: var(--first-section);
}

.hero{
    width: 100%;
    padding-bottom: 150px;
    &__body{
        position: relative;
        border-radius: 40px;
        overflow: hidden;
        img{
            position: absolute;
            width: 60%;
            right: 0;
            bottom: 0;
            height: 100%;
            z-index: -1;
            object-fit: cover;
        }
        &-wrap{
            padding: 64px 32px 64px 48px;
            background: var(--color-primary-linear);
            display: flex;
            flex-direction: column;
            gap: 24px;
            max-width: max-content;
            max-width: 50%;
            span{
                display: flex;
                align-items: center;
                gap: 6px;
                color: var(--color-white);
                white-space: nowrap;
                svg{
                    color: var(--color-white);
                    width: 24px;
                    height: 24px;
                }
            }
            h1{
                color: var(--color-white);
            }
            p{
                color: var(--color-white);   
            }
        }
    }
}