.transfer {
    width: 100%;
    padding-bottom: var(--padding-section);

    &__body {
        display: flex;
        flex-direction: column;
        gap: var(--section-gap);

        &-breadcrumbs {
            display: flex;
            align-items: center;
            gap: 6px;

            a,
            p,
            span {
                color: var(--color-bread-span);
                font-weight: 300;
            }

            a {
                transition: all 0.5s ease;
                color: var(--color-bread);

                &:hover {
                    color: var(--color-actient);
                }
            }
        }

        &-frame {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;

            .frame-information {
                display: flex;
                flex-direction: column;
                gap: 24px;

                h1 {
                    color: var(--color-black);

                    span {
                        color: var(--color-actient);
                    }
                }

                p {
                    max-width: 365px;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 120%;
                    color: var(--color-black);
                }

                &-attr {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    margin-top: 8px;

                    .attr-item {
                        display: flex;
                        align-items: center;
                        gap: 16px;

                        .icon {
                            width: 48px;
                            aspect-ratio: 1/1;
                            border-radius: 6px;
                            background: var(--color-actient);
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            svg {
                                height: 32px;
                                color: var(--color-white);
                            }
                        }

                        p {
                            color: var(--color-full);
                            font-size: 16px;
                            font-weight: 300;
                        }
                    }
                }
            }

            .frame-calculate {
                padding: 32px;
                border: 1px solid var(--color-border);
                border-radius: 40px;
                width: 55%;
                display: flex;
                flex-direction: column;
                gap: 32px;

                h3 {
                    font-size: 24px;
                    font-weight: 400;
                    color: #1a1a1a;
                }

                &-form {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    .calculate-item {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        p {
                            font-size: 16px;
                            color: #666;
                            font-weight: 200;

                        }

                        &-wrap {
                            display: flex;
                            width: 100%;
                            border-radius: 55px;
                            border: 1px solid var(--color-border);
                            background: var(--color-bglight);
                            height: 80px;
                            padding: 12px;
                            position: relative;
                            justify-content: space-between;
                            align-items: center;

                            input.base-text {
                                font-size: 16px;
                                padding: 0 4px;
                                background: transparent;
                                width: 50%;
                                font-weight: 300;

                                &::-webkit-outer-spin-button,
                                &::-webkit-inner-spin-button {
                                    -webkit-appearance: none;
                                }
                            }

                            .calculate-item-currency {
                                height: 100%;
                                background: var(--color-white);
                                max-width: 50%;
                                border-radius: 55px 55px;
                                position: relative;
                                display: flex;
                                align-items: center;
                                padding: 8px 12px;
                                justify-content: space-between;
                                cursor: pointer;
                                gap: 8px;
                                border: 1px solid var(--color-border);

                                .main-currency {
                                    display: flex;
                                    align-items: center;
                                    gap: 8px;

                                    span {
                                        width: 24px;
                                        height: 24px;
                                        border-radius: 50%;
                                        background-size: cover;
                                    }

                                    p {
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        font-size: 14px;
                                        font-weight: 500;
                                        color: var(--color-primary-textnav);
                                    }
                                }

                                svg {
                                    width: 16px;
                                    height: 16px;
                                    transition: all 0.5s ease;
                                    color: var(--color-primary-textsub);

                                    &.opened {
                                        rotate: 180deg;
                                    }
                                }

                                input {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    z-index: -1;
                                }

                                .default-modal {
                                    display: flex;
                                    flex-direction: column;
                                    left: 0;

                                    .currency-item {
                                        display: flex;
                                        align-items: center;
                                        gap: 8px;
                                        padding: 8px 14px;
                                        border-radius: 6px;
                                        transition: all 0.3s ease;
                                        color: var(--color-primary-textnav);

                                        div {
                                            width: 27px;
                                            height: 20px;
                                        }

                                        p {
                                            transition: all 0.3s ease;
                                            white-space: nowrap;
                                        }

                                        &.choose {
                                            background: var(--color-bglight);

                                            p {
                                                color: var(--color-actient);
                                            }
                                        }

                                        &:hover {
                                            background: var(--color-bglight);

                                            p {
                                                color: var(--color-actient);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .calculate-information {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;

                        p {
                            line-height: 140%;
                            font-size: 14px;
                        }
                    }

                    .calculate-rate {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        margin-top: 8px;

                        span {
                            font-weight: 400;
                        }

                        ul {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;

                            li {
                                font-size: 14px;
                                color: var(--color-primary-textnav);
                            }
                        }
                    }

                    .phone-wrap {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        margin-top: 8px;

                        span.medium-text {
                            font-size: 16px;
                            font-weight: 400;
                        }

                        .input-wrap {
                            padding: 24px 12px;
                            border: 1px solid #66708560;
                            border-radius: 55px;
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            position: relative;
                            width: 100%;
                            grid-column: span 1;
                            margin-top: 8px;

                            .iti {
                                width: 100%;
                            }

                            input::placeholder {
                                color: #66708560;
                            }

                            input {
                                background: transparent;
                                height: auto;
                                width: 90%;
                                color: var(--color-primary);
                            }
                        }

                        .button {
                            max-width: none;
                            padding: 24px;
                            border-radius: 500px;
                            margin-top: 8px;

                            .button-wrap {
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    }
}


.advantages {
    padding: var(--padding-section) 0px;
    width: 100%;
    background: var(--color-bglight);

    &__body {
        display: flex;
        flex-direction: column;
        gap: var(--section-gap);

        &-frame {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;

            .frame-item {
                padding: 32px;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                gap: 16px;
                background: var(--color-white);
                border: 1px solid var(--color-border);
                position: relative;

                &::before {
                    position: absolute;
                    content: '';
                    height: 80%;
                    top: 50%;
                    width: 6px;
                    background: var(--color-actient);
                    border-radius: 8px;
                    left: 0;
                    transform: translateY(-50%) translateX(-50%);
                    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
                }
                .icon {
                    width: 64px;
                    height: 64px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: var(--color-pale);
                    border-radius: 6px;

                    svg {
                        color: var(--color-actient);
                        width: 36px;
                        height: 36px;
                    }
                }

                p {
                    font-size: 14px;
                }
            }
        }
    }
}

.ways {
    padding: var(--padding-section);
    width: 100%;

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--section-gap-more);

        &-frame {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 32px;

            .frame-item {
                background: var(--color-bglight);
                border: 1px solid var(--color-border);
                border-radius: 20px;
                padding: 32px;
                display: flex;
                flex-direction: column;
                gap: 24px;
                position: relative;

                img {
                    width: 165px;
                    height: 100px;
                    right: 32px;
                    top: -50px;
                    position: absolute;
                }

                h3 {
                    font-size: 20px;
                    color: var(--color-primary);
                    font-weight: 600;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    li {
                        font-size: 16px;
                        position: relative;
                        line-height: 120%;
                        display: flex;
                        font-weight: 500;
                        align-items: flex-start;
                        gap: 8px;

                        svg {
                            width: 20px;
                            height: 20px;
                            min-width: 20px;
                            color: var(--color-white);
                            fill: var(--color-actient);
                        }
                    }
                }
            }
        }
    }
}

.steps {
    width: 100%;
    padding: var(--padding-section);

    &__body {
        display: flex;
        flex-direction: column;
        gap: var(--section-gap-more);

        &-frame {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            gap: 24px;

            .line {
                height: 2px;
                background: var(--color-primary-textsub);
                align-self: center;
                grid-column: span 1;
                opacity: .2;
            }

            .frame-item {
                padding: 32px;
                border: 1px solid var(--color-border);
                border-radius: 20px;
                grid-column: span 2;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;

                .number-circle {
                    width: 64px;
                    height: 64px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: var(--color-primary-linear);
                    border-radius: 50%;
                    color: var(--color-white);
                    font-size: 36px;
                }

                p {
                    font-size: 14px;
                }
            }
        }
    }
}

.banner {
    padding: var(--padding-section);
    width: 100%;

    &__body {
        width: 100%;
        position: relative;
        padding: 48px;
        background: var(--color-bggray);
        border-radius: 20px;
        border: 1px solid var(--color-border);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 72px;

        img {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: auto;
            object-fit: cover;
        }
    }
}