@media (max-width: 1440px) {
    html {
        font-size: calc(100vw / 1440);
    }

    body {
        max-width: 1920rem;
    }

    .container {
        max-width: 1160rem;
    }

    .default-modal {
        border: 1rem solid var(--color-border);
        box-shadow: 0 4rem 15rem rgba(0, 0, 0, 0.1);
        border-radius: 12rem;
        padding: 8rem;

        a {
            padding: 8rem 14rem;
            border-radius: 6rem;
        }
    }

    .nav-modal {
        border: 1rem solid var(--color-border);
        box-shadow: 0 4rem 15rem rgba(0, 0, 0, 0.1);
        border-radius: 12rem;
        padding: 20rem;
        gap: 6rem 20rem;
        min-width: 480rem;

        a {
            padding: 8rem 14rem;
            border-radius: 6rem;
        }
    }

    .logo {
        gap: 12rem;

        svg {
            width: 41rem;
            height: 39rem;
        }

        &-wrap {
            span {
                font-size: 18rem;
            }

            p {
                font-size: 12rem;
            }
        }
    }


    .base-text {
        font-size: 14rem;
    }

    .small-text {
        font-size: 12rem;
    }

    .medium-text {
        font-size: 18rem;
    }

    .title {
        font-size: 55rem;
    }

    .header {
        box-shadow: 0 4rem 20rem rgba(0, 0, 0, 0.03);
        &__body {
            &-top {
                padding: 6rem 0;
                border-bottom: 1rem solid var(--color-border);

                .action {
                    gap: 16rem;

                    .phone {
                        gap: 8rem;

                        svg {
                            width: 14rem;
                            height: 14rem;
                        }
                    }

                    &-whatsapp {
                        padding: 10rem 18rem;
                        gap: 8rem;
                        border-radius: 50rem;

                        svg {
                            width: 14rem;
                            height: 14rem;
                        }
                    }

                    .switcher {
                        &__main {
                            padding: 8rem 16rem;
                            gap: 6rem;
                            border-radius: 50rem;

                            svg {
                                width: 14rem;
                                height: 14rem;
                            }
                        }
                    }
                }
            }

            &-nav {
                padding: 4rem 0;

                ul {
                    li {
                        padding: 6rem 10rem;
                        gap: 6rem;
                        border-radius: 5rem;

                        svg {
                            width: 14rem;
                            height: 14rem;
                        }

                        .default-modal {
                            padding: 20rem;
                        }
                    }
                }
            }
        }
    }

    .hero {
        margin-top: 150rem;
        padding-bottom: 150rem;

        &__body {
            border-radius: 40rem;

            &-wrap {
                padding: 64rem 32rem 64rem 48rem;
                gap: 24rem;

                span {
                    gap: 6rem;

                    svg {
                        width: 24rem;
                        height: 24rem;
                    }
                }
            }
        }
    }

    .footer {
        padding: 60rem 0 30rem;
        border-top: 1rem solid var(--color-border);

        &__body {
            gap: 60rem;

            &-main {
                .action {
                    gap: 20rem;

                    .social {
                        gap: 12rem;

                        a {
                            width: 40rem;
                            border-radius: 8rem;

                            svg {
                                width: 24rem;
                                height: 24rem;
                            }
                        }
                    }
                }

                nav {
                    span {
                        font-size: 16rem;
                    }

                    div {
                        gap: 20rem;

                        ul {
                            gap: 12rem;

                            li {
                                &::after {
                                    height: 2rem;
                                }
                            }
                        }
                    }
                }
            }

            &-contact {
                gap: 24rem;
                padding-top: 40rem;
                border-top: 1rem solid var(--color-border);

                a {
                    padding: 24rem;
                    gap: 16rem;
                    border-radius: 16rem;
                    border: 1rem solid var(--color-border);

                    .icon {
                        width: 48rem;
                        border-radius: 12rem;

                        svg {
                            width: 20rem;
                            height: 20rem;
                        }
                    }

                    .contact-wrap {
                        gap: 8rem;
                    }
                }
            }

            &-soft {
                padding-top: 30rem;
                border-top: 1rem solid var(--color-border);

                .soft-rights {
                    gap: 24rem;
                }
            }
        }
    }
}