@media (max-width: 720px) {
    html {
        font-size: calc(100vw / 360);
    }

    body {
        max-width: 360rem;
    }

    .container {
        max-width: 328rem;
    }

    .base-text {
        font-size: 12rem;
    }

    .small-text {
        font-size: 10rem;
    }

    .medium-text {
        font-size: 14rem;
    }

    .title {
        font-size: 42rem;
    }

    .soft-title {
        font-size: 28rem;
    }

    .button {
        font-size: 14rem;
        border-radius: 30rem;
        padding: 12rem 28rem;
    }

    .button-white {
        border: 1rem solid transparent;
    }


    :root {
        --first-section: 80rem;
        --padding-section: 25rem;
        --section-gap: 24rem;
        --section-gap-more: 42rem;
    }


    .default-modal {
        border: 1rem solid var(--color-border);
        box-shadow: 0 4rem 15rem rgba(0, 0, 0, 0.1);
        border-radius: 12rem;
        padding: 8rem;

        span {
            padding: 8rem 14rem;
            border-radius: 6rem;
        }
    }

    .nav-modal {
        border: 1rem solid var(--color-border);
        box-shadow: 0 4rem 15rem rgba(0, 0, 0, 0.1);
        border-radius: 12rem;
        padding: 20rem;
        gap: 6rem 20rem;
        min-width: 480rem;

        a {
            padding: 8rem 14rem;
            border-radius: 6rem;
        }
    }

    .logo {
        gap: 10rem;

        svg {
            width: 36rem;
            height: 36rem;
        }

        &-wrap {
            span {
                font-size: 18rem;
            }

            p {
                display: none;
                font-size: 12rem;
            }
        }
    }


    .reviews {

        &__body {

            &-title {
                gap: 8rem;

                p {
                    font-size: 16rem;
                }
            }

            &-frame {
                display: flex;
                flex-direction: column;

                .frame-main {
                    gap: 16rem;

                    .review-item {
                        border-radius: 12rem;
                        border: 1rem solid var(--color-border);
                        padding: 16rem;
                        gap: 12rem;

                        .avatar {
                            width: 40rem;
                            min-width: 40rem;
                            font-size: 14rem;
                        }

                        &-wrap {
                            gap: 8rem;

                            .review-main {
                                .rating {
                                    gap: 2rem;

                                    svg {
                                        width: 12rem;
                                        height: 12rem;
                                    }
                                }

                                &-info {
                                    gap: 4rem;

                                    .name {
                                        font-size: 14rem;
                                    }

                                    .informaion {
                                        gap: 4rem;
                                        flex-wrap: wrap;

                                        &-service {
                                            gap: 4rem;

                                            .circle {
                                                width: 6rem;
                                                min-height: 6rem;
                                            }
                                        }
                                    }
                                }
                            }

                            .review-text {
                                font-size: 12rem;
                                font-weight: 400;
                            }
                        }
                    }

                    .load-more {
                        gap: 8rem;
                        padding: 16rem 0rem;
                        border: 1rem solid var(--color-border);
                        border-radius: 12rem;
                        font-size: 14rem;

                        svg {
                            width: 16rem;
                        }
                    }
                }

                .frame-soft {
                    gap: 16rem;

                    .average-rating {
                        padding: 24rem;
                        border-radius: 12rem;
                        border: 1rem solid var(--color-border);
                        gap: 8rem;

                        .icon {
                            width: 64rem;

                            svg {
                                width: 32rem;
                                height: 32rem;
                            }
                        }

                        &-count {
                            margin-top: 2rem;
                            gap: 8rem;

                            span {
                                font-size: 36rem;
                            }

                            .count-stars {
                                gap: 4rem;

                                svg {
                                    width: 16rem;
                                    height: 16rem;
                                }
                            }
                        }
                    }

                    .platform-rating {
                        padding: 24rem;
                        border-radius: 12rem;
                        border: 1rem solid var(--color-border);
                        gap: 16rem;

                        ul {
                            gap: 12rem;

                            li {

                                .platform-service {
                                    gap: 8rem;

                                    .circle {
                                        width: 12rem;
                                        min-height: 12rem;
                                    }
                                }

                                .platform-count {
                                    gap: 8rem;
                                }
                            }
                        }
                    }

                    .platform-review {
                        padding: 24rem;
                        border-radius: 12rem;
                        gap: 8rem;
                    }
                }
            }
        }
    }

    .faq {
        &__body {
            &-frame {
                gap: 16rem;

                .faq-item {
                    padding: 16rem;
                    border: 1rem solid var(--color-border);
                    border-radius: 20rem;

                    &-title {
                        h3 {
                            max-width: 240rem;
                        }

                        button {
                            width: 24rem;
                            min-width: 24rem;

                            svg {
                                height: 16rem;
                            }
                        }
                    }

                    .faq-content {
                        p {
                            padding-top: 16rem;
                        }
                    }
                }
            }
        }
    }




    .world {

        &__body {
            h2 {
                text-align: center;
            }

            &-title {
                flex-direction: column;
                gap: 24rem;

                .title-check {
                    width: 100%;
                    padding: 12rem 12rem 12rem 24rem;
                    border-radius: 55rem;
                    border: 1rem solid var(--color-border);
                    justify-content: space-between;
                    font-size: 10rem;

                    svg {
                        width: 36rem;
                        height: 30rem;
                    }
                }
            }

            &-frame {
                gap: 24rem;

                h3 {
                    font-size: 20rem;
                }

                .world__body-popular {
                    gap: 16rem;
                    width: 100%;

                    h4 {
                        font-size: 16rem;
                    }

                    .search-wrap {
                        min-width: auto;
                        width: 100%;
                        padding: 8rem 12rem;
                        gap: 8rem;
                        border: 1rem solid var(--color-black);
                        max-width: none;
                        label {
                            width: 24rem;
                            min-width: 24rem;
                            border-radius: 6rem;

                            svg {
                                width: 16rem;
                                height: 16rem;
                            }
                        }
                    }
                    .popular-wrap {
                        width: 100%;
                        gap: 12rem;
                        grid-template-columns: repeat(2, 1fr);

                        .country-item {
                            border-radius: 5rem;
                            gap: 12rem;
                            font-size: 12rem;
                            span {
                                width: 32rem;
                                min-width: 32rem;
                                border: 1rem solid var(--color-border);
                            }
                        }
                    }
                }
            }
        }
    }


    .request {

        &__body {
            h2 {
                font-size: 20rem;

                br {
                    display: none;
                }
            }

            &-frame {
                padding: 24rem;
                gap: 24rem;
                border-radius: 12rem;
                border: 1rem solid var(--color-border);

                .frame-inforamtion {
                    gap: 12rem;

                    h3 {
                        font-size: 24rem;
                    }
                }

                .frame-form {
                    gap: 12rem;
                    display: flex;
                    flex-direction: column;

                    .input-wrap {
                        padding: 8rem;
                        border: 1rem solid #66708560;
                        border-radius: 6rem;
                        gap: 8rem;

                        label {
                            width: 24rem;
                            min-width: 24rem;
                            border-radius: 6rem;

                            svg {
                                width: 20rem;
                                height: 14rem;
                            }
                        }
                    }
                }
            }
        }
    }


    .header {
        box-shadow: 0 4rem 20rem rgba(0, 0, 0, 0.03);
        transition: all 0.5s ease;
        height: 48.2rem;
        &__body {
            &:has(.burger.open){
                .header__body-mobile-nav{
                    transform: translateX(0);
                }
            }
            .header__body-mobile-nav{
                display: block;
                transition: all 0.5s ease;
                height: calc(100vh - 48.2rem);
                position: absolute;
                top: 48.2rem;
                left: 0;
                width: 100%;
                background: var(--color-white);
                transform: translateX(-100%);
                ul{
                    padding: 40rem 20rem;
                    display: flex;
                    flex-direction: column;
                    gap: 16rem;
                    li{
                        display: flex;
                        flex-direction: column;
                        span{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;
                            svg{
                                transition: all 0.3s ease;
                                &.rotate-180{
                                    rotate: 180deg;
                                }
                            }
                        }
                        div{
                            display: flex;
                            flex-direction: column;
                            gap: 12rem;
                            padding-top: 16rem;
                        }
                    }
                }
            }
            &-top {
                padding: 6rem 0;
                border-bottom: 1rem solid var(--color-border);

                .action {
                    gap: 8rem;

                    .phone {
                        display: none !important;
                    }

                    &-whatsapp {
                        padding: 8rem 14rem;
                        gap: 8rem;
                        border-radius: 50rem;
                        span{
                            display: none;
                        }
                        svg {
                            width: 16rem;
                            height: 16rem;
                        }
                    }

                    .switcher {
                        &__main {
                            padding: 9rem 12rem;
                            gap: 6rem;
                            border-radius: 50rem;

                            svg {
                                width: 14rem;
                                height: 14rem;
                            }
                        }
                    }
                    .burger{
                        display: flex;
                        flex-direction: column;
                        width: 24rem;
                        height: 24rem;
                        padding: 4rem;
                        justify-content: space-between;
                        position: relative;
                        align-items: center;
                        transition: all 0.5s ease;
                        background: transparent;
                        border-radius: 6rem;
                        &.open{
                            justify-content: center;
                            background: var(--color-pale);
                            span{
                                position: absolute;
                                background: var(--color-actient);
                                scale: 0.8;
                            }
                            span:nth-child(1){
                                rotate: 45deg;
                            }
                            span:nth-child(2){
                                opacity: 0;
                            }
                            span:nth-child(3){
                                rotate: -45deg;
                            }
                        }
                        span{
                            width: 100%;
                            background: var(--color-black);
                            height: 1.5rem;
                            border-radius: 2rem;
                            transition: all 0.5s ease;
                        }
                    }
                }
            }

            &-nav {
                display: none;
                padding: 4rem 0;

                ul {
                    li {
                        padding: 6rem 10rem;
                        gap: 6rem;
                        border-radius: 5rem;

                        svg {
                            width: 14rem;
                            height: 14rem;
                        }

                        .default-modal {
                            padding: 20rem;
                        }
                    }
                }
            }
        }
    }




    .footer {
        padding: 48rem 0 24rem;
        border-top: 1rem solid var(--color-border);

        &__body {
            gap: 48rem;
            flex-direction: column;

            &-main {
                flex-direction: column;
                gap: 32rem;

                .action {
                    gap: 24rem;

                    .social {
                        gap: 12rem;

                        a {
                            width: 36rem;
                            border-radius: 6rem;

                            svg {
                                width: 20rem;
                                height: 20rem;
                            }
                        }
                    }
                }

                nav {
                    display: flex;
                    flex-direction: column;
                    gap: 32rem;
                    width: 100%;

                    span {
                        font-size: 16rem;
                    }

                    div {
                        gap: 20rem;

                        ul {
                            gap: 12rem;

                            li {
                                font-size: 14rem;

                                &::after {
                                    height: 2rem;
                                }
                            }
                        }
                    }
                }
            }

            &-contact {
                display: flex;
                gap: 16rem;
                padding-top: 48rem;
                border-top: 1rem solid var(--color-border);
                flex-direction: column;

                a {
                    padding: 24rem;
                    gap: 16rem;
                    border-radius: 16rem;
                    border: 1rem solid var(--color-border);

                    p {
                        font-size: 12rem;
                    }

                    span {
                        font-size: 18rem;
                    }

                    .icon {
                        width: 48rem;
                        border-radius: 12rem;

                        svg {
                            width: 20rem;
                            height: 20rem;
                        }
                    }

                    .contact-wrap {
                        gap: 8rem;
                    }
                }
            }

            &-soft {
                flex-direction: column;
                align-items: center;
                gap: 16rem;
                padding-top: 24rem;
                border-top: 1rem solid var(--color-border);

                p,
                a {
                    font-size: 12rem;
                    font-weight: 400;
                }

                .soft-rights {
                    flex-direction: column;
                    align-items: center;
                    gap: 8rem;
                }
            }
        }
    }


    .transfer {
        &__body {
            &-breadcrumbs {
                gap: 6rem;
            }

            &-frame {
                flex-direction: column;
                gap: 32rem;

                .frame-information {
                    gap: 16rem;

                    h1 {
                        font-size: 42rem;
                    }

                    p {
                        max-width: 305rem;
                        font-size: 16rem;
                    }

                    &-attr {
                        gap: 12rem;
                        margin-top: 4rem;

                        .attr-item {
                            gap: 16rem;

                            .icon {
                                width: 32rem;
                                border-radius: 6rem;

                                svg {
                                    height: 24rem;
                                }
                            }

                            p {
                                font-size: 14rem;
                            }
                        }
                    }
                }

                .frame-calculate {
                    padding: 24rem;
                    border: 1rem solid var(--color-border);
                    border-radius: 12rem;
                    gap: 24rem;
                    width: 100%;

                    h3 {
                        font-size: 24rem;
                    }

                    &-form {
                        gap: 16rem;

                        .calculate-item {
                            gap: 12rem;

                            p {
                                font-size: 14rem;
                            }

                            &-wrap {
                                border-radius: 55rem;
                                border: 1rem solid var(--color-border);
                                height: 60rem;

                                input.base-text {
                                    font-size: 14rem;
                                    padding: 0 4rem;
                                }

                                .calculate-item-currency {
                                    border-radius: 55rem;
                                    padding: 0 4rem;

                                    .main-currency {
                                        gap: 8rem;

                                        span {
                                            width: 20rem;
                                            height: 20rem;
                                        }

                                        p {
                                            max-width: 65rem;
                                            font-size: 12rem;
                                        }
                                    }

                                    svg {
                                        width: 12rem;
                                        height: 12rem;
                                    }

                                    .default-modal {
                                        left: auto;
                                        right: 0;

                                        .currency-item {
                                            gap: 8rem;
                                            padding: 8rem 14rem;
                                            border-radius: 6rem;

                                            div {
                                                width: 20rem;
                                                height: 16rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .calculate-information {
                            p {
                                max-width: none;
                                font-size: 12rem;
                            }
                        }

                        .calculate-rate {
                            gap: 10rem;
                            margin-top: 8rem;

                            ul {
                                gap: 8rem;

                                li {
                                    font-size: 12rem;
                                }
                            }
                        }

                        .phone-wrap {
                            gap: 8rem;
                            margin-top: 8rem;

                            span.medium-text {
                                font-size: 14rem;
                            }

                            .input-wrap {
                                padding: 18rem;
                                border: 1rem solid #66708560;
                                border-radius: 55rem;
                                gap: 8rem;
                                margin-top: 8rem;
                            }

                            .button {
                                padding: 18rem;
                                border-radius: 500rem;
                                margin-top: 8rem;
                            }
                        }
                    }
                }
            }
        }
    }


    .advantages {
        padding: var(--padding-section) 0rem;

        &__body {
            h2 {
                text-align: center;
            }

            &-frame {
                gap: 16rem;
                grid-template-columns: repeat(2, 1fr);

                .frame-item {
                    padding: 16rem;
                    border-radius: 12rem;
                    gap: 12rem;
                    border: 1rem solid var(--color-border);

                    .icon {
                        width: 32rem;
                        height: 32rem;
                        border-radius: 6rem;
                        svg{
                            width: 24rem;
                            height: 24rem;
                        }
                    }

                    h3 {
                        font-size: 12rem;
                    }

                    p {
                        font-size: 10rem;
                    }
                }
            }
        }
    }

    .ways {
        &__body {
            h2 {
                text-align: center;
            }

            &-frame {
                display: flex;
                flex-direction: column;
                gap: 24rem;

                .frame-item {
                    border: 1rem solid var(--color-border);
                    border-radius: 12rem;
                    padding: 24rem;
                    gap: 24rem;

                    img {
                        width: 87.5rem;
                        height: 50rem;
                        right: 32rem;
                        top: -25rem;
                    }

                    h3 {
                        font-size: 18rem;
                    }

                    ul {
                        gap: 12rem;

                        li {
                            font-size: 12rem;
                            gap: 8rem;

                            svg {
                                width: 16rem;
                                height: 16rem;
                                min-width: 16rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .steps {
        &__body {
            h2 {
                text-align: center;
            }

            &-frame {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 24rem;

                .line {
                    width: 2rem;
                    height: 42rem;
                }

                .frame-item {
                    padding: 0rem 32rem;
                    align-items: center;
                    gap: 16rem;
                    grid-row: span 2;
                    grid-column: auto;
                    border: none;
                    border-radius: 0%;
                    .number-circle {
                        width: 64rem;
                        height: 64rem;
                        font-size: 36rem;
                    }

                    p {
                        font-size: 14rem;
                        text-align: center;
                    }
                }
            }
        }
    }

    .banner {
        &__body {
            padding: 24rem;
            border-radius: 12rem;
            border: 1rem solid var(--color-border);
            gap: 36rem;
            padding-bottom: 282rem;

            img {
                height: 265rem;
                width: 100%;
                top: auto;
                bottom: 0;
            }
        }
    }
}