<section class="world">
    <div class="container">
        <div class="world__body">
            <div class="world__body-title">
                <h2 class="soft-title">Мы работаем по всему миру</h2>
                <div class="title-check base-text">
                    <p>У нас всегда актуальные курсы обмена, <br> <span>обновляются каждую минуту автоматически</span></p>
                    <i data-lucide="circle-check"></i>
                </div>
            </div>
            <div class="world__body-frame">
                <h3 class="medium-text">Выберите страну, куда отправить деньги</h3>
                <div class="world__body-popular">
                    <h4 class="base-text">Популярные страны:</h4>
                    <div class="popular-wrap">
                        <a href="" class="country-item base-text">
                            <span class="fi fi-th"></span>
                            Таиланд
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-ae"></span>
                            Объединённые Арабские Эмираты
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-id"></span>
                            Индонезия
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-vn"></span>
                            Вьетнам
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-cn"></span>
                            Китай
                        </a>
                    </div>
                </div>
                <div class="world__body-popular" x-data="{ open: false }" :class="{ 'opened': open }" >
                    <h4 class="base-text open-country" @click="open = !open">
                        Полный список стран:
                        <i data-lucide="chevron-down"></i>
                    </h4>
                    <div class="popular-wrap" x-show="open" x-collapse>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-th"></span>
                            Таиланд
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-ae"></span>
                            Объединённые Арабские Эмираты
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-id"></span>
                            Индонезия
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-vn"></span>
                            Вьетнам
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-cn"></span>
                            Китай
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-th"></span>
                            Таиланд
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-ae"></span>
                            Объединённые Арабские Эмираты
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-id"></span>
                            Индонезия
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-vn"></span>
                            Вьетнам
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-cn"></span>
                            Китай
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-th"></span>
                            Таиланд
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-ae"></span>
                            Объединённые Арабские Эмираты
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-id"></span>
                            Индонезия
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-vn"></span>
                            Вьетнам
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-cn"></span>
                            Китай
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-th"></span>
                            Таиланд
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-ae"></span>
                            Объединённые Арабские Эмираты
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-id"></span>
                            Индонезия
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-vn"></span>
                            Вьетнам
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-cn"></span>
                            Китай
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-th"></span>
                            Таиланд
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-ae"></span>
                            Объединённые Арабские Эмираты
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-id"></span>
                            Индонезия
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-vn"></span>
                            Вьетнам
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-cn"></span>
                            Китай
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-th"></span>
                            Таиланд
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-ae"></span>
                            Объединённые Арабские Эмираты
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-id"></span>
                            Индонезия
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-vn"></span>
                            Вьетнам
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-cn"></span>
                            Китай
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-th"></span>
                            Таиланд
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-ae"></span>
                            Объединённые Арабские Эмираты
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-id"></span>
                            Индонезия
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-vn"></span>
                            Вьетнам
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-cn"></span>
                            Китай
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-th"></span>
                            Таиланд
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-ae"></span>
                            Объединённые Арабские Эмираты
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-id"></span>
                            Индонезия
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-vn"></span>
                            Вьетнам
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-cn"></span>
                            Китай
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-th"></span>
                            Таиланд
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-ae"></span>
                            Объединённые Арабские Эмираты
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-id"></span>
                            Индонезия
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-vn"></span>
                            Вьетнам
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-cn"></span>
                            Китай
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-th"></span>
                            Таиланд
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-ae"></span>
                            Объединённые Арабские Эмираты
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-id"></span>
                            Индонезия
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-vn"></span>
                            Вьетнам
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-cn"></span>
                            Китай
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-th"></span>
                            Таиланд
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-ae"></span>
                            Объединённые Арабские Эмираты
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-id"></span>
                            Индонезия
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-vn"></span>
                            Вьетнам
                        </a>
                        <a href="" class="country-item base-text">
                            <span class="fi fi-cn"></span>
                            Китай
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>